<h2>You do not currently have funds available to cover this transaction.</h2>
<h3>Amount requested: <%= @amount %></h3>
<h3>Funds available: <%= @user.balance %></h3>

<a href="/account">Return to account</a>